

body {
    margin: 0;
    /* overflow: hidden; */
    color: white;
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

ul, ol {
    padding: 0;
    margin: 5%;
}



.neo-title, .title, .neo-count {
    text-align: center;
    font-size: 1.7em;
    color: white;
    margin-top: 20px;
}

.neo-count {
    font-size: 1.5em;
}

.content {
    position: relative;
    width: 100%;
    max-height: none; /* Allow content to expand */
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    font-size: 1.1em;
}


.legend {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4em;
}

.legend h3 {
    margin: 0;
}

.legend ul {
    list-style-type: none;
    padding: 0;
}

.legend li {
    display: inline-block;
    margin-right: 20px;
}




.color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 5px;
}

.neo-color {
    background-color: #ffffff; /* NEO color */
}

.reference-color {
    background-color: #cc00ff; /* Reference color */
}

.neo-entry {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on small screens */
    align-items: stretch;
    margin: 0 auto 50px auto; /* Center the content */
    gap: 20px;
    max-width: 1200px; /* Limit maximum width */
    width: 100%; /* Allow full width on smaller screens */
}



.neo-entry:first-of-type {
    margin-top: 150px; /* Adds extra space above the first NEO box */
}

.neo-info {
    position: relative;
    flex: 0 1 30%; /* Adjusted flex property */
    min-width: 300px; /* Optional minimum width */
    border: 1px solid rgba(255, 255, 255, 0);
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    word-wrap: break-word; /* Ensure content wraps */
}

.neo-visual {
    position: relative;
    flex: 1 1 0; /* Adjusted flex property */
    min-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0);
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}





/* Style for the toggle button */
.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9em;
}

.toggle-button:hover {
    background-color: #1558b0;
}

.toggle-button:focus {
    outline: none;
}


a {
    color: #1a73e8;
}

canvas {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center top;
        background-attachment: scroll;
    }

    
    
    .neo-entry:first-of-type {
        margin-top: 50px; /* Adds extra space above the first NEO box */
    }

    .color-box {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }

    /* .neo-info,
    .neo-visual {
        flex: 1;
        min-width: 0; 
        padding: 10px; 
        font-size: 0.4em;
        box-sizing: border-box;
    } */

    .neo-info {
        flex: 0 1 35%; /* Adjusted flex property */
        min-width: 0; 
        padding: 10px; /* Reduce padding on smaller screens */
        font-size: 0.5em;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .neo-visual {
        flex: 1;
        min-width: 0; 
        padding: 10px; /* Reduce padding on smaller screens */
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0);


    }

    .title,
    .neo-title,
    .neo-count {
        font-size: 1em; /* Reduce font size */
    }

    .content {
        padding: 10px; /* Reduce padding */
    }

    .legend li {
        
        font-size: 0.4em;
    }
}